version: 2.1
workflows:
  version: 2
  build_deploy_test:
    jobs:
      - pfe/gatsby_build_and_deploy
      - pfe/make_multidev:
          filters:
            branches:
              ignore: "master"
orbs:
  # fauxalgore is a joke username where I publish experimental
  # code. https://github.com/fauxalgore/orbs This repo is a playground
  # for Orbs that might become stable elsewhere.
  pfe: fauxalgore/playground@dev:pantheon_frontend

