version: 2.1
workflows:
  version: 2
  build_push_test:
    jobs:
      - build_and_deploy
      - make_multidev
orbs:
  gcp-cli: circleci/gcp-cli@1.0.0      
jobs:
  make_multidev:
    docker:
      - image: quay.io/pantheon-public/build-tools-ci:6.x
    steps:
      - run: /build-tools-ci/scripts/set-environment
      - run:
          name: Authenticate with Pantheon's CLI using a machine token
          command: terminus -n auth:login --machine-token="$TERMINUS_TOKEN"
      - run:
          name: make multidev
          command: terminus env:list stevector-gatsby2 --field=id | grep $TERMINUS_ENV || terminus multidev:create stevector-gatsby2.dev $TERMINUS_ENV


  build_and_deploy:
    docker:
      - image: octahedroid/docker-static-build-tools
    steps:
    - checkout
    - run:
        name: Set TERMINUS_ENV
        command: |
          if [ -z "$CI_PULL_REQUEST" ]
          then
                echo "export TERMINUS_ENV='live'" >> $BASH_ENV
          else
                echo "export TERMINUS_ENV='pr-${CI_PULL_REQUEST##*/}'" >> $BASH_ENV
          fi

    - run: echo $TERMINUS_ENV
    - run: 
        name: GCP auth
        command: |
            echo $GCP_SA | gcloud auth activate-service-account --key-file=-
            gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
            gcloud --quiet config set compute/zone ${GOOGLE_COMPUTE_ZONE}

    - restore_cache:
        keys:
          - yarn-cache{{ checksum "yarn.lock" }}
    - run:
        name: Install Dependencies
        command: yarn install  --frozen-lockfile
    - run: git status
    - run: cat yarn.lock
    - save_cache:
        key: yarn-cache{{ checksum "yarn.lock" }}
        paths:
          - ./node_modules
    - run: GATSBY_CPU_COUNT=2 CI=true yarn build
    - run:
        name: Deploy to GCP 
        command: 
            gsutil -m rsync -r -c -d ./public gs://${GCP_BUCKET}/stevector-gatsby2/${TERMINUS_ENV}
    - run:
        name: setmeta
        command:
           gsutil -m setmeta -r -h "Cache-Control:public, s-maxage=15, stale-while-revalidate=300" -h "Content-Disposition" gs://${GCP_BUCKET}/stevector-gatsby2/${TERMINUS_ENV}/*
