version: 2.1
workflows:
  version: 2
  build_push_test:
    jobs:
      # Eventually this job should come from a CircleCI maintained orb.
      - playground/npmbuild_and_persist:
          package_lock_location: .
          path_to_persist: "public"
          build_command: "npm run build"
          post-steps:
            - run: cd "public" && find .

      - pantheon/push:
          checkout: false
          pre-steps:
            - attach_workspace:
                at: /tmp
            - run: mv /tmp/public/* .
            - run: find .
            - run: git clone --bare $CIRCLE_REPOSITORY_URL ".git"
            - run: git status
          post-steps:
            - run: cd "/tmp/pantheon_repo" && git status
            - run: echo "Testing CI on master branch"
          requires:
            - playground/npmbuild_and_persist

# @todo, make a disposable user for the pantheon token.

orbs:
  # fauxalgore is a joke username where I publish experimental
  # code. https://github.com/fauxalgore/orbs This repo is a playground
  # for Orbs that might become stable elsewhere.
  playground: fauxalgore/playground@0.0.2
  pantheon: pantheon-systems/pantheon@0.1.0
  # https://circleci.com/orbs/registry/orb/circleci/slack
  slack: circleci/slack@2.5.1
  
