.blog-teaser {
  border: 2px solid #333;
  margin-bottom: 20px;
  padding: 10px 10px 0px 10px;
}

.blog-teaser .content-type-label {
  font-weight: bold;
}

.blog-teaser .read-more {
  text-align: right;
}

body blockquote {
  background: #f9f9f9;
  padding: 10px;
  display: flex;
  border: 1px dashed #999;
}

body blockquote > * {
  display: block;
}

blockquote::before,
blockquote::after {
  color: #007bff;
  font-size: 6em;
  line-height: 0.1em;
  vertical-align: -0.6em;
  margin-top: 0.3em;
}

blockquote::before {
  margin-right: 0.1em;
  content: "“";
  flex: 0 2 auto;
}

blockquote::after {
  margin-right: 0.1em;
  content: "”";
  flex: 0 1 auto;
}

a {
  text-decoration: underline;
  color: #007bff;
  text-decoration-style: solid;
  
}

a:hover {
  text-decoration-style: dotted;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: black;
}